#conatiner {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
}

label {
  cursor: text;
}

#label_obrazka {
  position: relative;
  top: -10px;
}

#post_obrazek {
  width: 40px;
  height: 40px;
}

.paragraf {
  resize: none;
}

#post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

#naglowek_Posta {
  grid-column: 1/1;
  grid-row: 1/1;
  display: flex;
  justify-content: space-around;
}

#naglowek_Posta label{
  margin-bottom: 10px;
}

#sendPost {
  height: 30px;
}

.ql-toolbar {
  height: 42px !important;
}

.ql-editor {
  height: 600px !important;
  overflow: scroll !important;
}

#img_container {
  width: 20%;
  align-self: start;
  display: grid;
  grid-template-rows: auto auto;
}

#img_container>div {
  text-align: center;
  margin-bottom: 25px;
}

#post_obrazek {
  width: 100px;
  height: 100px;
  place-self: end center;
}

#kiedy_napisane {
  width: 20%;
  place-self: center start;
  margin-top: 20px;
}

#title {
  margin-top: 30px;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
}

#title input {
  text-align: center;
  font-size: 2rem;
}

#post_content {
  padding-left: 0px;
  padding-right: 0px;
}

.ql-toolbar.ql-snow {
  margin-top: 30px;
}

.linki {
  margin-top: 100px;
  margin-bottom: 0px;
  text-align: center;
}

#a2 {
  margin-top: 10px;
}

#aside_list>ul {
  margin: 0px 40px;
  padding: 0;
  list-style: none;
  max-height: 600px !important;
  overflow: scroll;
  
}


#aside_list li {
  margin-bottom: 15px;
  height: 100%;
  word-break: break-all;
}

#aside_list {
  place-self: start center;
  margin-top: 160px;
}

#aside_list>h4 {
  margin: 20px 20px 40px 20px;
  text-align: center;
}

#zbior {
  place-self: start center;
  margin-top: 160px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
}

#tag_heading {
  text-align: center;
  margin-bottom: 60px;
}

.pencil:hover {
  cursor: pointer;
}

.pencil:active {
  cursor: progress;
}

.cross:hover {
  cursor: grab;
}

.cross:active {
  cursor: progress;
}

.cross {
  margin-left: 10%;
}

.picked_category {
  border: 1px solid;
  padding-left: 5px;
  padding-right: 15px;
  margin-bottom: 5px;
  border-radius: 15px;
  display: inline-block;
  width: auto;
}

.category_cross {
  opacity: 0;
}

.category_cross:hover {
  opacity: 1;
  cursor: pointer;
}

.category_cross:active {
  cursor: progress;
}

#chosen_tags {
  text-align: justify;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

#dynamic_tag_list {
  overflow: scroll;
}

#dynamic_tag_list>ul {
  list-style: none;
  height: 300px;
  padding-left: 10px;
}

#dynamic_tag_list li {
  margin-bottom: 12px;
}

#dynamic_tag_list li img {
  opacity: 0;
  align-self: flex-end;
}

#dynamic_tag_list li img:hover {
  opacity: 1;
  cursor: pointer;
}

#dynamic_tag_list li img:active {
  cursor: progress;
}

#tag_filter input {
  border: none;
  border-radius: 15px;
  width: 80%;
  padding: 0 10px;
}

#tag_filter input:focus {
  outline: none;
}

#tag_filter {
  text-align: left;
  display: flex;
  vertical-align: middle;
  border: 1px solid black;
  width: 80%;
  border-radius: 15px;
  padding-right: 5px;
  margin: 0 auto;
  margin-top: 15px;
  height: 30px;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

#cross_category:hover {
  cursor: pointer;
}

#cross_category:active {
  cursor: progress;
}

@media screen and (max-width: 1110px) {
  #naglowek_Posta {
    grid-column: 1/1;
    grid-row: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }

  #aside_list {
    place-self: start center;
    margin-top: 30px;
  }

  #post {
    grid-row: 1/1;
    grid-column: 1/5;
    width: 90%;
    place-self: start center;

  }

  #zbior {
    grid-row:2/2;
    grid-column: 1/2;
    margin-top: 30px;
  }
 
  p {
    padding: 0 10%;
  }

  #title {
    grid-column: 1/5;
    grid-row: 1/2;
    justify-self: center;
    
  }

  #conatiner {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}