#conatiner {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;

}

#post_obrazek {
    width: 40px;
    height: 40px;
}


#post {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto auto auto;
}

#naglowek_Posta {
    grid-column: 1/1;
    grid-row: 1/1;
    display: flex;
    justify-content: space-around;
}


#img_container {
    width: 20%;
    text-align: center;
}


#post_obrazek {
    width: 100px;
    height: 100px;
}

#kiedy_napisane {
    width: 20%;
    margin-top:30px;
  
}


#title {
    
    margin-top: 30px;
    text-align: center;
}


#post_content {
padding-left: 0px;
padding-right: 0px;    
}

.ql-toolbar.ql-snow {
    margin-top: 30px;
}




.linki {
    margin-top: 100px;
    margin-bottom: 0px;
    text-align: center;
    
}

#a2 {
    margin-top: 10px;
}

@media screen and  (max-width: 1110px){
    #naglowek_Posta {
        grid-column: 1/1;
        grid-row: 1/1;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }

    #kiedy_napisane {
        grid-row: 1/1;
        grid-column: 2/2;
        width: 80%;
        text-align: left;
    }

    p {
        padding: 0 10%;
    }

       #img_container {
           grid-row: 1/1;
           grid-column: 1/1;
           margin-left: 0px;
           width: 100%;
           text-align: center;
       }

       #title {
           grid-column: 1/3;
           grid-row: 2/2;
           justify-self: center;
           margin-top: 60px;
       }

       aside {
           visibility: hidden;
       }

       
       #conatiner {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
       }

        #post_obrazek {
            margin-left: 0;
        }
    
    

 }
